.btn-icon-header {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 36px;
    padding: 0;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #000000;
    box-shadow: 0 3px 5px rgba($color: #000000, $alpha: 0.25);

    &:hover {
        border-color: $blue-light;
        background-color: $blue-light;
    }

    img {
        width: 24px;
    }

    svg {
        width: 20px;
    }

    @media (max-width:480px) {
        width: 36px;
        height: 36px;
        line-height: 32px;
        margin-left: 5px !important;
        margin-right: 0 !important;

        img {
            width: 18px;
        }

        svg {
            width: 17px;
        }
    }
}

.btns {
    display: inline-block;
    line-height: 38px;
    font-size: 20px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    border: 1px solid #000000;
    box-shadow: 0 3px 5px rgba($color: #000000, $alpha: 0.25);

    &:hover {
        border-color: $blue-light;
        background-color: $blue-light;
    }

    &.entrar {
        font-weight: 600;
    }
}

.btn-close-mobile {
    border: 0;
    background-color: transparent;

    position: absolute;
    top: 15px;
    right: 15px;

    svg {
        width: 30px;
    }
}

.btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 35px;
    border-radius: 10px;

    &.btn-small {
        font-size: 16px;
        padding: 6px 25px;
        border-radius: 5px;
    }

    &.btn-inline {
        border: 1px solid $gray-dark;
        background-color: $white;

        &:hover {
            color: $white !important;
            background-color: $blue;
        }
    }
}

.btn-see-all {
    font-size: 16px;
    color: #000000;
    font-weight: 600;

    &:hover {
        color: $blue-light;
    }
}

.badge {
    &.badge-small {
        font-size: 11.8px;
        // font-weight: 300;
    }
}