$gray-dark: #302C2C !default;
$gray-100: #E5E5E5 !default;
$blue: #0081bc !default;
$blue-light: #15B5FF !default;
$green-light: #05C273 !default;
$beige-light: #F5F2F2 !default;
$brown-light: #9B9494 !default;

$red-light: #FF5F5F !default;

$black: #121215 !default;
$white: #ffffff !default;
