.form-select {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
}

.form-group {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;

    &::placeholder {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: rgba($color: $gray-dark, $alpha: 0.6);
    }
}