.header-site {
    width: 100%;
    padding: 15px 0;
    position: fixed;
    z-index: 5;
    top: 0;

    .logo-custom {
        display: inline-block;
        font-family: 'cubanoregular';
        font-size: 34px;
        text-decoration: none;

        &:hover {
            color: $blue-light;
        }
    }

    .link-header {
        font-family: "Montserrat", sans-serif;
        font-size: 22px;
        font-weight: 600;
        text-decoration: none;
        display: inline-block;
        text-shadow: 0 3px 5px rgba($color: #000000, $alpha: 0.25);

        &:hover {
            color: $blue-light;
        }
    }
}

.form-seach-header {
    position: relative;

    input {
        width: 100%;
        height: 45px;
        border-radius: 12px;
        padding: 5px 17px;
        box-shadow: 0 3px 5px rgba($color: #000000, $alpha: 0.25);
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 600;

        &:focus {
            outline: none;
            border-color: $blue-light;
        }

        &::placeholder {
            color: $brown-light;
        }
    }

    button {
        position: absolute;
        right: 11px;
        top: 7px;
        z-index: 1;
        border: 0;
        background-color: transparent;

        img {
            width: 22px;
        }
    }
}