.light-mode {
    background-color: rgba($color: $beige-light, $alpha: 1);

    .header-site {
        background-color: $gray-dark;

        .logo-custom {
            color: $beige-light;
        }

        .link-header {
            color: $beige-light;
        }
    }

    .btn-icon-header {
        background-color: $beige-light;

        .dark {
            display: none;
        }
    }

    .btns {
        color: $gray-dark;
        background-color: $beige-light;
    }

    .btn-close-mobile {
        svg {
            path {
                fill: $beige-light;
            }
        }
    }

    .form-seach-header {
        input {
            color: $gray-dark;
            border: 2px solid $beige-light;
            background-color: $beige-light;
        }
    }

    .offcanvas {
        background-color: $gray-dark;
    }
}

.dark-mode {
    background-color: rgba($color: $gray-dark, $alpha: 1);

    .header-site {
        background-color: $beige-light;

        .logo-custom {
            color: #000000;
        }

        .link-header {
            color: #000000;
        }
    }

    .btn-icon-header {
        background-color: $gray-dark;

        .light {
            display: none;
        }

        svg {
            path {
                fill: $beige-light;
            }
        }
    }

    .btns {
        color: $beige-light;
        background-color: $gray-dark;
    }

    .form-seach-header {
        input {
            color: $beige-light;
            border: 2px solid $gray-dark;
            background-color: $gray-dark;
        }
    }

    .offcanvas {
        background-color: $beige-light;
    }

    .main-site {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            color: $beige-light;
        }
    }
}